<!DOCTYPE html>
{% load static %}
<html>
    <head>
        {% load static %}
        <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title> Timothy Regana Tarigan </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
      {% include 'navbar.html' %}
    <form method="post">
        {% csrf_token %}
        {{ create_agenda_form }}
        <input type="submit" value="Create agenda">
    </form>