<!DOCTYPE html>
{% load static %}
<html>
    <head>
        {% load static %}
        <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title> Timothy Regana Tarigan </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
      {% include 'navbar.html' %}
      <h1>uwu</h1>
      {% for agenda in agendas %}
    <div>
        <p>{{agenda.date}}</p>
        <p>{{agenda.day}}</p>
        <p>{{agenda.hour}}</p>
        <p>{{agenda.activity}}</p>
        <p>{{agenda.location}}</p>
        <p>{{agenda.category}}</p>
        <a href="{% url 'MyProfile:agenda-delete' id=agenda.id %}"><button>delete</button></a>
    </div>
      {%endfor%}