<!DOCTYPE html>
{% load static %}
<html>
    <head>
        {% load static %}
        <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title> Timothy Regana Tarigan </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
      {% include 'navbar.html' %}
        <div class="container-fluid">
            <div class="row intro bg1">
                <div class="col-md-2 ">
                    <h1> HELLO!</h1>
                    <img src="{% static 'images/profile.png'%}" alt="It's Me!" class="center" width="300" height="300">
                    <p style="letter-spacing: 4px"> TIMOTHY <br> REGANA <br> TARIGAN </p>

                </div>
                <div class="col-md-5 abt desc my-auto offset-md-1">
                    <p class=about> ABOUT ME </p><br>
                    <a href="{% url 'MyProfile:moreaboutme' %}" target="_blank"><p style="margin-top: 0; font-size:30px;"> (and more!) </p></a>
                    <hr style="height: 4px; background: black; margin-top: 0px;">
                    <p style="color:white" class="desc">Right now, I'm a Computer Science student in Universitas Indonesia.<br> 
                        Japanese culture enthusiast, lover of football (Liverpool!) and esports. <br>
                        I also play music, mainly piano and vocals.</p>
                </div>
                <div class="col-md-3 abt desc my-auto offset-md-1 text-center">
                    <p class="about"> CONTACT ME</p>
                    <hr style="height: 4px; background: black; margin-top: 0px;">
                    <img src="{% static 'images/gmail.png'%}" width="100" height="100" hspace="20">
                    <p style="font-size: 20px; text-align: center" class="desc">timothyregana@gmail.com</p>
                    <img src="{% static 'images/insta.png'%}" width="100" height="100" hspace="20">
                    <p style="font-size: 20px; text-align: center" class="desc">phazeblaze</p>
                    <img src="{% static 'images/line.png'%}" width="100" height="100" hspace="20">
                    <p style="font-size: 20px; text-align: center" class="desc">phazeblade</p>
                </div>
            </div>
 



        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </div>
    <br>
    <br>
    </body>
    
</html>
