<!DOCTYPE html>
{% load static %}
<html>
    <head>
            {% load static %}
            <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <title> Timothy, but more </title>
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container-fluid">
            <div class="row bg1">
            <div class="col-12">
            <div class="row intro">
                <div class="col-md-6 offset-md-1">
                        <p> My Biodata </p>
                        <img src="{% static 'images/profile.png'%}" alt="It's Me!" class="center" width="300" height="300">
                </div>
            </div>
            <div class="row desc" style="color:aliceblue;">
                <div class="col-md-10 offset-md-1">
                    <p>Name         : Timothy Regana Tarigan</p>
                    <p>Nickname     : Timo, Timot, phaze (online)</p>
                    <p>Date of Birth: 24th of October</p>
                    <p>Hobby        : Gaming, Music, Reading, being stupid</p>
                    <p>Waifu        : Jeanne Alter, Saber Alter</p>
                    <br>
                    <br>
                </div>
            </div>
            </div>
            </div>
            <div class="row bg1">
            <div class="col-12">
            <div class="row intro">
                <div class="col-md-6 offset-md-1">
                    <p>RAMBLINGS</p>
                </div>
            </div>
            <div class="row moredesc">
                <div class="col-md-10 offset-md-1">
                    <p>tfw you realize you must use bootstrap when youre done with your website </p>
                    <p>muhammad ali went back to his hometown, muhammad kembali</p>
                    <p>if you've opened my instagram, i apologize</p>
                    <p>tfw you see people using navbar</p>
                    <p>gacha is a drug, no dont take my money please dont give me more cute girl i havent eaten in 3 months</p>
                    <p>this is basically filler and a time waster</p>
                    <p>if you put a bit of effort, it is actually quite easy to cosplay as Kak Pewe</p>
                    <p>if youre still reading this, youre awesome and keep fighting</p>
                    <p>machine learning is just a spicy if else</p>
                    <p>i enjoy my code like i enjoy my italian meal, spaghetti</p>
                    <p>nothing wrong with liking a fictional character, just wish you have the same dedication to studying</p>
                    <p>liiiiiiiiverpoool, liiiiiiiiverpoool will win the league title this year because this year is our year</p>
                    <p>this would be a good time to promote my soundcloud, its a shame that theres nothing worthwhile in it</p>
                    <p>medusa from fate is the one waifu people dont know they want</p>
                    

                </div>
            </div>
            </div>
            </div>
    </body>
</html>