<!DOCTYPE html>
{% load static %}
<html>
    <head>
        {% load static %}
        <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title> My Skills </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        {% include 'navbar.html' %}
        <div class="container-fluid">
            <div class="row bg1">
            <div class="col-12">
                <div class="row about text-center">
                <div class="col-md-12">
                    <p style="text-align:center"> SKILLS </p>
                    <img src="{% static 'images/java1.png'%}" width="100" height="100" hspace="20"> <!--java icon-->
                    <p class="exp"> Finished basic training course in Java</p>
                    <img src="{% static 'images/python1.png'%}" width="100" height="100" hspace="20"> <!--python icon-->
                    <p class="exp"> Finished basic training course in Python</p>
                    <img src="{% static 'images/music1.png'%}" width="100" height="100" hspace="20"> <!--music icon-->
                    <p class="exp"> Have experience in performing as a keyboardist and backing vocalist</p>
                    <img src="{% static 'images/camera1.png'%}" width="100" height="100" hspace="20"> <!--photography icon-->
                    <p class="exp"> Worked as a photographer in few school events </p>
                    <img src="{% static 'images/english1.png'%}" width="100" height="100" hspace="20"> <!--english icon-->
                    <p class="exp"> Fluent in English, able to communicate well in English</p>
                </div>
                </div>

                <div class="row about text-center">
                <div class="col-md-12">
                    <p style="text-align:center"> EXPERIENCE </p>
                    <p class="exp"> Was a member of my junior high school's Student Council</p>
                    <p class="exp"> Involved in some of my high school's events as a member of documentation section</p>
                    <p class="exp"> Now studying in Universitas Indonesia's Faculty of Computer Science</p>
                </div>
                </div>

            </div>
            </div>
        </div>